html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
}

header {
    z-index: 10;
    height: 64px;
    position: absolute;
    background-color: #2c262c;
    width: 100%;
    text-align: center;
    z-index: 2;
    box-shadow: 0px 0px 20px 0px #4e1818;
}

ul {
    overflow: hidden;
    list-style: none;
    margin: 0 auto;
    z-index: 20;
}

ul li {
    display: inline-block;
    padding: 26px 10px 20px 10px;
}

a {
    color: #ffffff;
    text-transform: uppercase;
}

.btn {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.btn::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #cf0808;
    display: block;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}

.btn:hover::before {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
}

.btn {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;

}

.daimei {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6em;
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.setumei {
    color: white;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-weight: 400;
    font-size: 2em;
    font-style: normal;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.medamaimg img {
    width: 48%;
    height: auto;
    opacity: 0.8;
}

.medamaimg {
    display: flex;
    justify-content: center;
}

#img {
    display: flex;
    flex-wrap: wrap;
    padding-top: 65px;
}

#img2 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 65px;
}

div>img {
    flex-grow: 1;
    border: 1px solid #000;
    object-fit: cover;
    height: 300px;
    width: 300px;
    max-width: 400px;
    margin: 0.2rem;
    border-radius: 4px;
}


.zikosyoukai {
    color: white;
    position: relative;
}

.bunn {
    color: white;
    line-height: 1;
    position: absolute;
    top: 40%;
}

.mozi {
    top: 10px;
}

.bunn>h1 {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.bunn>h2 {
    margin: 5px;
    font-weight: 400;
    font-size: 20px;
}

.bunn>h3 {
    font: size 20px;
    font-weight: 400;
}

#syoukai {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yuureidennsya {
    margin-top: 30%;
}

.emailsend {
    color: #ffffff;
    height: 100%;
    text-align: center;
    display: grid;
    align-content: center;
    height: 600px;
}

.emailsend>div:nth-of-type(1) {
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.emailsend>div:nth-of-type(2) {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.meail {
    text-indent: 1em;
    margin-bottom: 1em;

}